* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include font(shabnam, normal, 1.4rem, #3d3d3d);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--gray);
}

.main-container {
  box-shadow: var(--javadShadow);

  border: solid 0.1rem var(--lightgray) {
    radius: var(--radius);
  }
  background-color: var(--lightblue);
  margin: auto;
  width: 60vw;
  // height: 70vh; i comment this because it cause overlaps in main contaienr
  // @include flex(column, center, center, 1.0rem, nowrap);
  .side-by-side {
    height: 100%;
  }
}
.vertical-center {
  @include flex(column, center, center, 1rem, nowrap);
  flex-grow: 1;
}

.form-container {
  padding: 4.8rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  & header {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 4.8rem;

    & h1 {
      font-size: 3rem;
    }

    & p,
    a {
      font-size: 1.8rem;
    }
  }
  & a {
    margin-right: 0.4rem;
    color: var(--blue);
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input {
      border: solid 1px #d3d3d3 {
        radius: 10px;
      }
      box-shadow: 0px 0px 6px 0.4px rgba(176, 176, 176, 0.683);
      // box-shadow: 0px 0px 8px 0.2px #b0b0b0;

      // border: 1px solid #838398;
      // border-radius: 0.5rem;
      color: #333;
      padding: 12px;
      font-size: 1.4rem;
      outline: none;
      flex: 1;
    }

    input::placeholder {
      color: #9696a3;
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
      // color: #d3d3d3;

      input[type="checkbox"] {
        // transform: scale(1.4);
        // accent-color: #b69df5;
      }

      & > * {
        flex-grow: 0;
        cursor: pointer;
      }
    }

    .input-group {
      display: flex;
      gap: 1.2rem;
    }

    button {
      box-shadow: 0px 0px 6px 0.4px rgba(176, 176, 176, 0.683);
      background-color: var(--blue);
      color: #fff;
      padding: 1.2rem;
      // font-size: 1rem;

      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    button:hover {
      background-color: var(--blueLight);
    }
  }
}

.side-by-side {
  // background-color: ;
  display: flex;
  & > * {
    flex: 1 1 0;
  }
}

// Left Container
img {
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  position: relative;
  padding: 1.6rem;

  .image-background {
    @include background(
      "../../image/original-f6aa71c9cba938fa7fd85beb3caf1b0d (2).jpg"
    );
    height: 100%;
    border-radius: var(--radius);
    box-shadow: 0px 0px 6px 0.4px rgba(176, 176, 176, 0.683);

    button {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      position: absolute;
      top: 2.8rem;
      left: 2.8rem;
      border: none;
      padding: 0.6rem 1.2rem;
      border-radius: 1.5rem;
      // backdrop-filter: blur(1px);
      background-color: #e7f5ffb2;
      box-shadow: 0px 0px 4px 0.2px rgba(145, 145, 145, 0.63);
      cursor: pointer;

      img {
        width: 1.6rem;
        height: 1.6rem;
        filter: grayscale(100%);
      }
    }
  }
}
